:root {
    --accent-color: #ffcf00;
    --base-color: #fffdf3;
    --info-color: #e6bc00;
  }

.page-title {
  font-size: 3em;
  text-align: center;
}

.custom-button {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  color: black !important;
}

.custom-button:hover,
.custom-button:focus {
  opacity: 0.8;
}
