:root {
    --accent-color: #ffcf00;
    --base-color: #fffdf3;
    --info-color: #e6bc00;
    --navbar-height: 50px;
  }

.custom_button {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  color: black !important;
}

.custom_button:hover,
.custom_button:focus {
  opacity: 0.8;
}

.ingredient_list_container {
  width: 100%;
  max-width: 600px;
}

.page_title {
  font-size: 3em;
  text-align: center;
}