@import url('./global.css');

.main_container {
    background-color: var(--accent-color);
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    margin: 0;
}

.top_container {
    max-width: 100vw;
}

.main_title {
    font-weight: bold;
    font-size: 10vw;
}

.sub_title {
    font-weight: bold;
    font-size: 2vw;
}