@import url('./global.css');

.main_container {
    background-color: var(--accent-color);
    min-width: 100vw;
    min-height: calc(100vh - var(--navbar-height));
    margin: 0;
}

.top_container {
    max-width: 100vw;
}

.main_title {
    font-weight: bold;
    font-size: 8vw;
}
