@import url('./global.css');

.offcanvas_list {
    font-weight: bold;
}

.offcanvas_list .list_group_item.active,
.offcanvas_list .list_group_item:focus {
    background-color: var(--accent-color) !important;
}

.button_hamburger {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
    height: 100%;
    max-width: 50px;
    display: flex;
    align-items: center;
}

.button_hamburger:hover,
.button_hamburger:focus {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.icon {
    width: 100%;
    height: auto;
}
