@import url('./global.css');

.card_img {
    object-fit: cover;
}

.icon_container {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.clock_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
