.info_card {
    height: 300px;
}

.info_card_title {
    font-size: 30px !important;
}

.edit_button {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
    height: 100%;
    max-width: 50px;
    display: flex !important;
    align-items: center !important;
}

.edit_icon {
    width: 70%;
    height: auto;
}
